@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

body {
  vertical-align: baseline;
  font-family: 'Do Hyeon', sans-serif;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../img//main.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.text_box {
  width: 70%;
  height: auto;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.text_box p {
  margin: 0;
  padding: 0;
  font-size: 6vw;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.text_box p span {
  letter-spacing: 10px;
}

p:nth-child(1) {
  font-size: 12vw;
  margin-top: 0;
}

.man {
  color: #4461cb;
}

.woman {
  color: #f1449a;
}

/* 
.text_box p {
  margin: 0;
  padding: 0;
  font-size: 6vw;
  margin-top: 10px;
}

p:nth-child(1) {
  font-size: 6vw;
  font-weight: bold;
  letter-spacing: 9vw;
}

p:nth-child(2) {
  letter-spacing: 2vw;
}

p:nth-child(3) {
  letter-spacing: 2.7vw;
}

p:nth-child(4) {
  letter-spacing: 3.2vw;
} */

